<div class="footer-dark" style="background-color: #252525;width:100%;margin-top:120px;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-6 offset-md-2 offset-lg-3 offset-xl-3 item text">
                        <h3 class="text-center">Made with ❤ by Zulkarnine</h3>
                        <p>He tells me to pick the music. I'm not sure if he knows that handing me his iPod is like handing me the window to his soul. - Becky Albertalli</p>
                    </div>
                    <div class="col-xl-12 item social"><a href="https://twitter.com/Zulkarn30860075" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/Zulkarnine1" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/in/md-shahla-zulkarnine-414859160/"
                            target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://mdzulkarnine.com/" target="_blank"><i class="icon ion-android-globe"></i></a></div>
                </div>
                <p class="copyright">mdzulkarnine.com &nbsp;2021</p>
            </div>
        </footer>
    </div>