<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img src="static/navbar/assets/img/2e2fa83ab05744d18ac07213cf2c05b8.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto nav-close">
                    <li class="nav-item text-center" role="presentation"><img class="account-pic2" src="static/navbar/assets/img/WeChat%20Screenshot_20210608182315.png"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-center navlink-norm active">Hi user name</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-center navlink-norm" href="#"><i class="fa fa-user"></i>&nbsp;Account Settings</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-center navlink-norm" href="#"><i class="fa fa-pencil"></i>&nbsp;Create Card</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-center navlink-norm" href="#"><i class="fa fa-save"></i>&nbsp;Saved Playlists</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-center navlink-norm" href="#"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto nav-open">
                    <li class="nav-item" role="presentation">
                        <div>
                            <div class="nav-item dropdown"><a class="dropdown-toggle active nav-link" data-toggle="dropdown" aria-expanded="false"><img class="account-pic" src="static/navbar/assets/img/WeChat%20Screenshot_20210608182315.png">&nbsp;Hi, user name</a>
                                <div class="dropdown-menu account-menu" role="menu" style="margin-top: -3px;"><a class="dropdown-item active" role="presentation" href="#"><i class="fa fa-user"></i>&nbsp; Account Settings</a><a class="dropdown-item active" role="presentation" href="#"><i class="fa fa-save"></i>&nbsp; Saved Cards</a><a class="dropdown-item" role="presentation" href="#"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link navlink-norm" href="#"><i class="fa fa-pencil"></i>&nbsp;Create Card</a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
        </div>
        </div>
    </nav>