<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img src="static/navbar/assets/img/2e2fa83ab05744d18ac07213cf2c05b8.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto nav-close">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>

                    <li class="nav-item" role="presentation"><a style="width:180px;margin-bottom:20px;border: 2px solid white;border-radius: 4px;" class="mx-auto nav-link text-center navlink-norm" href="/login"><i class="fa fa-sign-in"></i>&nbsp;Login/Register</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto nav-open">
                    <li class="nav-item" role="presentation"><a style="border: 2px solid white;border-radius: 4px;" class="nav-link navlink-norm active" href="/login"><i class="fa fa-sign-in"></i>&nbsp;Login/Register</a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
        </div>
        </div>
    </nav>