<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Thatday</title>
    <link rel="stylesheet" href="static/createcard-card/assets/css/styles.css">
    <link rel="stylesheet" href="static/searchbar/assets/css/styles.css">
    <link rel="stylesheet" href="static/common/assets/css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="static/navbar/assets/img/2e2fa83ab05744d18ac07213cf2c05b8.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="static/navbar/assets/img/2e2fa83ab05744d18ac07213cf2c05b8.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/footer/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/footer/assets/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="static/footer/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="static/footer/assets/css/styles.css">
    <link rel="stylesheet" href="static/playlistcard/assets/css/card.css">
    <link rel="stylesheet" href="static/playlistcard/assets/css/styles.css">
    <link rel="stylesheet" href="static/login/assets/css/styles.css">
    <link rel="stylesheet" href="static/login/assets/css/OcOrato---Login-form-1.css">
    <link rel="stylesheet" href="static/login/assets/css/OcOrato---Login-form.css">

    {% if(not loggedin): %}
    <link rel="stylesheet" href="static/navbar1/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/navbar1/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/navbar1/assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="static/navbar1/assets/css/styles.css">
    {% endif %}
</head>






<body style="background-image: url(&quot;/static/login/assets/img/marco-perretta-akNEjp2Fcjg-unsplash.jpg&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;">

<div>
<form id="form" style="font-family:Quicksand, sans-serif;background-color:rgba(44,40,52,0.73);width:320px;padding:40px;">
        <h1 id="head" style="color: #01e2d0;" class="font1">Register</h1>
        <div class="text-center"><a href="/" ><img class="rounded img-fluid" id="image" style="width:auto;height:auto;" src="static/navbar/assets/img/2e2fa83ab05744d18ac07213cf2c05b8.png"></a></div>
        <div class="form-group"><label>Name</label><input class="form-control" name="name" required type="text" id="formum" placeholder="Name"></div>
        <div class="form-group"><label>Username</label><input class="form-control" name="username" required type="email" id="formum" placeholder="Username"></div>
        <div class="form-group"><label>Password</label><input class="form-control" name="password" type="password" required id="formum2" placeholder="Password"></div>
        <div class="form-group"><label>Re-type Password</label><input class="form-control" name="password1" type="password" required id="formum2" placeholder="Re-type Password"></div>

    <button class="btn btn-light" id="butonas" style="width: 100%;height: 100%;margin-bottom: 10px;background-color: #01e2d0;" type="button">Sign in</button><a id="linkas"
            style="font-size: 12px;margin: auto;margin-left: 0;margin-right: 0;margin-bottom: 0;margin-top: 0;padding-left: 0;padding-right: 0;color: #01e2d0;" href="/login">Login</a></form>
</div>




    <script src="static/navbar/assets/js/jquery.min.js"></script>
    <script src="static/navbar/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/login/assets/js/script.js"></script>
</body>

</html>