<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Thatday | Home</title>
    <link rel="stylesheet" href="static/createcard-card/assets/css/styles.css">
    <link rel="stylesheet" href="static/searchbar/assets/css/styles.css">
    <link rel="stylesheet" href="static/common/assets/css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="static/navbar/assets/img/2e2fa83ab05744d18ac07213cf2c05b8.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="static/navbar/assets/img/2e2fa83ab05744d18ac07213cf2c05b8.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/footer/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/footer/assets/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="static/footer/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="static/footer/assets/css/styles.css">
    <link rel="stylesheet" href="static/playlistcard/assets/css/card.css">
    <link rel="stylesheet" href="static/playlistcard/assets/css/styles.css">
    <link rel="stylesheet" href="static/account/assets/css/styles.css">
    {% if(loggedin): %}
    <link rel="stylesheet" href="static/navbar/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/navbar/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/navbar/assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="static/navbar/assets/css/styles.css">
    {% endif %}
    {% if(not loggedin): %}
    <link rel="stylesheet" href="static/navbar1/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/navbar1/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/navbar1/assets/css/gradient-navbar.css">
    <link rel="stylesheet" href="static/navbar1/assets/css/styles.css">
    {% endif %}
</head>

{% if(not loggedin): %}
{% include "notloggedheader.html" %}
{% endif %}
{% if(loggedin): %}
{% include "loggedheader.html" %}
{% endif %}


<body>

<div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><div><header>

	<div class="container" style="margin-top:10vh;margin-bottom:10vh;">

		<div class="profile">

			<div class="profile-image">
                <div style="border-radius: 50%;;width:150px;height:150px;background:white;background-image: url({{user_data.img}});background-size: contain;background-position: center;" ></div>
				

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{user_data.name}}</h1>

				<a href="/editaccount"><button class="btn profile-edit-btn"><i class="fa fa-edit" ></i> Edit Profile</button></a>
				<a href="/changepassword"><button class="btn profile-edit-btn"><i class="fa fa-lock" ></i> Change Password</button></a>



			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count"><i class="fa fa-credit-card" aria-hidden="true"></i> {{all_cards|length}}</span> Cards</li>
					<li><span class="profile-stat-count"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{like_sum}}</span> Likes</li>

				</ul>

			</div>

			<div class="profile-bio">

				<p>{{user_data.moto}}</p>
				<p>{{user_data.username}}</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

</div></div>
            </div>
        </div>
    </div>



<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="font1">Music Cards</h1>



                </div>

            </div></div>



{% include "playlist-card.html" %}
{% include "footer.html" %}

    <script src="static/navbar/assets/js/jquery.min.js"></script>
    <script src="static/navbar/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>